
          body
	{
    	   margin: 0px;
  	   padding: 0px;
   	    width: 100%;
   	    background-color: #e6e6fae8;
   	    }
	
	h2{
	color:Blue;
	text-align:center;
	}
	a{
	
	}
	#clk-login{
	margin:3%;
	width: 6%;
	border:none;
    	padding: 9px 5px;
	text-align:left;
	cursor: pointer;
	}
	#clk-login:hover{
    	opacity:0.8;
   	 }

	 input[type=text],input[type=password]
	{
	margin:10px 0,
	width:20%
	padding:7px 10px;
	display:inline-block;

	box-sizing: border-box;
	}
	#uname,#psw
	{
	color:Blue;
	text-align:center;
	}
	#login-container
 	{
	
       	 width:600;
      	  height: 300px;
       	 
	}
	#btn{
	background-color:green;
	color:white;
	}
	
