	h3{
	color:blue;
	text-align:center;
	}
	
	body{
	color:blue;
	text-align:left;
 	margin: 0px;
  	 padding: 0px;
   	 width: 100%;
   	  background-color: #e6e6fae8;	
	}
	#clk-register{
	margin:3%;
	width: 8%;
	border:none;
    	padding: 8px 5px;
	text-align:left;
	cursor: pointer;
	}
	#clk-register:hover{
    	opacity:0.8;
   	 }
	
	#btn2{
	background-color:green;
	color:white;
	}